/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

.home-body-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-body-content .my_card {
    margin-bottom: 15px;
    transition-duration: .5s;
}


/* pagination css start */

.adminPagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.adminPagination a {
    display: block;
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    border: 1px solid #4634ff;
    margin: 10px 5px;
    color: #4634ff !important;
    text-decoration: none !important;
    border-radius: 3px;
}

.adminPagination .paginationActive a {
    color: white !important;
    background-color: #4634ff;
}

.adminPagination .paginationLink {
    font-size: 1.4rem;
}

.confirm {
    color: #5b6e88;
}

.modalNo {
    background-color: #10163a !important;
    border: none;
}

.modalNo:hover {
    background-color: #070a1d !important;
}

.modalYes {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.modalYes:hover {
    cursor: pointer;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.confirmTitle {
    font-size: 1.125rem;
    color: black !important;
}

